
/* SITE HEADER */
.site-header{
    background-color: #fff;
}


.main-line{
    width: 1440px;
    height: 5px;
    background-color: #FF7500;
}

.orange-line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;
}
ul {
    list-style-type: none;
}


/* SITE-NAV */
.sitenav-link{
    
    font-family: "Roboto" , "Arial" , sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;    
    color: #000; 

}

.main-link{
    font-family: "Roboto" , "Arial" , sans-serif;
    font-size: 13px;
    line-height: 15px;
    background-color: #ff7500;
    color: #fff;
    text-decoration: none;

}


/* SITE-HERO */
.hero{
    background-color: #252420;
    color: #fff;

}

.hero-content{
    width: 390px;
}

.hero-heading{

    font-family: "Roboto Condensed" ,"Arial" , sans-serif ;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.5px;
}

.hero-text{
    font-family: "Roboto" , "Arial" , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.hero-img{
    width: 510px;
    height: 510px;
}


/* SITE FEATURE */
.feature{
    width: 340px;
}

.features-heading{
    font-family: "Roboto Condensed" ,"Arial" , sans-serif ;
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.feature-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}

.features-h3{
    font-family: "Roboto Condensed" ,"Arial" , sans-serif ;
    width: 700px;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.features-text{
    font-family: "Roboto" , "Arial" , sans-serif;
    width: 400px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


/* SITE-PROMO */
.promo{
    background-color: #252420;
    color: #fff;
}

.promo-content{
    width: 440px;
}

.promo-heading{
    font-family: "Roboto Condensed" ,"Arial" , sans-serif ;
    font-size: 40px;
    line-height: 1.5;
}

.promo-text{
    font-family: "Roboto" ,"Arial" , sans-serif ;
    font-size: 16px;
    line-height: 1.5;
}

.promo-h{
    color: #FF7500;
    
}

.promo-img{
    width: 440px;
    height: 440px;
}


/* SITE-FOOTER */
.site-footer{
    background-color: #F8F8F8;
}

.site-footer ul{
    list-style: none;
}

.site-divider{
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-links{
    width: 224px;
}

.site-footer-links a{
    font-family: "Roboto" ,"Arial" , sans-serif ;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    text-decoration-line: none;
    color: rgba(37, 36, 32, 1);

}

